<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>49847099465-906kubh1p6n44lmk72hmhauh7ugqloe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49847099465-906kubh1p6n44lmk72hmhauh7ugqloe6</string>
	<key>API_KEY</key>
	<string>AIzaSyCrn-zHM3DWOcRUMbTcsaG6ZSHFNoTomUg</string>
	<key>GCM_SENDER_ID</key>
	<string>49847099465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Radu.Unique</string>
	<key>PROJECT_ID</key>
	<string>uniquechat-63bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>uniquechat-63bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49847099465:ios:e4f8616a2c72db3a</string>
	<key>DATABASE_URL</key>
	<string>https://uniquechat-63bfd.firebaseio.com</string>
</dict>
</plist>